.counterContainer {
    margin: 0 auto;
    padding: 20px 0;
    width: fit-content;
}

.counter {
    padding: 10px;
    width: 380px;
}

.count {
    font-size: 1.3em;
    font-weight: bold;
}

.count.error {
    color: #ff3b3b;
}